<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read All Aircraft</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .custom-container {
            width: 1120px;
        }

        .custom-col {
            width: 280px;
        }

        .custom-card-img {
            height: 240px;
            object-fit: cover;
        }
    </style>
</head>
<body class="bg-black">
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent border-bottom border-success">
    <div class="container-fluid">
        <a th:href="@{/military-air-bases}" class="navbar-brand text-success">Military Air Base Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav nav-underline">
                    <a th:href="@{/military-air-bases}" class="nav-link text-success">
                        Military Air Bases
                    </a>
                </li>
                <li class="nav nav-underline">
                    <a th:href="@{/aircraft}" class="nav-link active text-success" aria-current="page">
                        Aircraft
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-4 mb-5 custom-container">
    <div class="mb-4">
        <a th:href="@{/aircraft/create}" class="btn btn-outline-success">Create Aircraft</a>
    </div>
    <div th:if="${!allAircraft.isEmpty()}" class="row row-cols-auto row-cols-md-auto g-4">
        <div th:each="aircraft : ${allAircraft}" class="col custom-col">
            <div class="card bg-transparent border-success">
                <img th:src="@{/aircraft/image/{id}(id=${aircraft.id})}" class="card-img-top custom-card-img" alt=""/>
                <div class="card-body text-success">
                    <h5 th:text="${aircraft.model}" class="card-title"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent text-success border-success">
                        <span th:text="'ID: ' + ${aircraft.id}"></span>
                    </li>
                    <li class="list-group-item bg-transparent text-success border-success">
                        <span th:text="'Type: ' + ${aircraft.type.name}"></span>
                    </li>
                    <li class="list-group-item bg-transparent text-success border-success">
                        <span th:text="'Purpose: ' + ${aircraft.purpose.name}"></span>
                    </li>
                    <li class="list-group-item bg-transparent text-success border-success">
                        <span th:text="'Combat Task: ' + ${aircraft.combatTask.name}"></span>
                    </li>
                </ul>
                <div class="card-body">
                    <a th:href="@{/aircraft/{id}(id=${aircraft.id})}"
                       class="btn btn-outline-success">View</a>
                    <a th:href="@{/aircraft/update/{id}(id=${aircraft.id})}"
                       class="btn btn-outline-success">Update</a>
                    <a th:href="@{/aircraft/delete/{id}(id=${aircraft.id})}"
                       class="btn btn-outline-success">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <h3 th:unless="${!allAircraft.isEmpty()}" class="text-success">
        There Are No Aircraft Yet
    </h3>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>