<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Aircraft Ordnance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .custom-container {
            width: 700px;
        }

        .custom-file-input::-webkit-file-upload-button {
            background-color: transparent;
            color: #198754;
        }
    </style>
</head>
<body class="bg-black">
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent border-bottom border-success">
    <div class="container-fluid">
        <a th:href="@{/aircraft-ordnance}" class="navbar-brand text-success">Aircraft Ordnance Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav nav-underline">
                    <a th:href="@{/aircraft-ordnance}" class="nav-link text-success" aria-current="page">
                        Aircraft Ordnance
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5 mb-5 p-4 rounded border border-success custom-container">
    <div class="mb-4">
        <h3 class="text-success">Create Aircraft Ordnance</h3>
    </div>
    <form action="#" th:action="@{/aircraft-ordnance/create}" th:object="${aircraftOrdnance}" method="POST">
        <div class="row mb-2">
            <div class="col">
                <label for="model" class="form-label text-success">Model</label>
                <input th:field="*{model}" class="form-control bg-transparent text-success border-success"
                       type="text" id="model" aria-label="Model">
            </div>
            <div class="col">
                <label for="weight" class="form-label text-success">Weight</label>
                <input th:field="*{weight}" class="form-control bg-transparent text-success border-success"
                       type="text" id="weight" aria-label="Weight">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label for="type" class="form-label text-success">Type</label>
                <select th:field="*{type}" id="type" class="form-select bg-transparent text-success border-success">
                    <option th:each="type : ${types}" th:value="${type}" th:text="${type.name}"
                            class="bg-black"></option>
                </select>
            </div>
            <div class="col">
                <label for="purpose" class="form-label text-success">Purpose</label>
                <select th:field="*{purpose}" id="purpose"
                        class="form-select bg-transparent text-success border-success">
                    <option th:each="purpose : ${purposes}" th:value="${purpose}" th:text="${purpose.name}"
                            class="bg-black"></option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="homing" class="form-label text-success">Homing</label>
                <select th:field="*{homing}" id="homing"
                        class="form-select bg-transparent text-success border-success">
                    <option th:each="homing : ${allHoming}" th:value="${homing}" th:text="${homing.name}"
                            class="bg-black"></option>
                </select>
            </div>
            <div class="col">
                <label for="photo" class="form-label text-success">Photo</label>
                <input class="form-control bg-transparent text-success border-success custom-file-input"
                       type="file" id="photo" aria-label="Photo">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="btn btn-outline-success" type="submit" value="Create">
            </div>
            <div class="col"></div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>